bookup:
  crawler:
    aladin.url: "http://www.aladin.co.kr/search/wsearchresult.aspx?SearchTarget=UsedStore&SearchWord=%s"
    bandi:
      apiUrl: "http://222.122.120.242:7570/ksf/api/search?q=%s&egp=09,10&l=20&sn=product"
      storeUrl: "http://www.bandinlunis.com/front/product/detailProduct.do?prodId=%s"
      hrefUrl: "http://www.bandinlunis.com/front/product/detailBookshelf.do?prodId=%s&shopCd=%s"
  rest:
    naver.url: "https://openapi.naver.com/v1/search/book.json?query=%s"
    kyobo:
      url: "http://mkiosk.kyobobook.co.kr/kiosk/product/ajaxOtherStockQty.ink?site=&ejkGb=KOR&barcode=%s"
      storeUrl: "http://mkiosk.kyobobook.co.kr/kiosk/search/searchMain.ink?site=%s&isbn=%s"
    library.url: "http://nl.go.kr/kolisnet/openApi/open.php?page=1&per_page=10000&search_field1=total_field&value1=%s"

logging:
  config: classpath:logback-spring.xml